body {
  background-color: #cbb9a8;
  color: #333;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.articles-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.article-card {
  background: #dcc7be;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100%;
  max-width: 400px;
}

.article-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

.article-image {
  width: 100%;
  height: auto;
  max-height: 300px;
  object-fit: contain;
  border-radius: 20px;
}

.article-card h3 {
  font-size: 1.4rem;
  font-weight: bold;
  margin: 10px 0;
  color: #333;
  text-align: center;
}

.title {
  text-align: center;
}

.intro-text {
  text-align: center;
}

.sub-intro {
  text-align: center;
}

.loading-message {
  font-size: 1.2rem;
  text-align: center;
  margin: 20px 0;
  color: #333;
  font-weight: bold;
}

.single-article-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.single-article {
  width: 95%;
  max-width: 800px;
  margin: 40px 0;
  padding: 20px;
  background: #dcc7be;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.single-article p {
  text-align: center;
}

.article-title {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}
.article-info {
  font-size: 1rem;
  color: #555;
  margin-bottom: 20px;
}

.author {
  font-weight: bold;
  color: #333;
}

.date,
.topic,
.comment-count,
.votes {
  font-style: italic;
  color: #666;
}

.article-body {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #444;
  text-align: center;
  padding: 0 10px;
}

.loading-message,
.error-message {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

footer {
  background-color: #1f1c1c;
  color: aliceblue;
  padding: 20px;
  text-align: center;
}

.article-comments {
  width: 95%;
  max-width: 800px;
  padding: 20px;
  background: #ebae7cb0;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
  box-sizing: border-box;
}

.article-comments h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  text-align: center;
}

.comment-card {
  background: #dcc7be;
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.comment-body {
  font-size: 1rem;
  color: #444;
  margin-bottom: 5px;
}

.comment-info {
  font-size: 0.9rem;
  color: #666;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-author {
  font-weight: bold;
  color: #333;
}

.comment-votes {
  font-size: 0.9rem;
  color: #ff5722;
}

.upvote-article {
  width: 50px;
  cursor: pointer;
}

.upvote-article:hover {
  transform: scale(1.1);
  filter: brightness(1.1);
}

.downvote-article {
  width: 60px;
  cursor: pointer;
  position: relative;
  top: 5px;
}

.downvote-article:hover {
  transform: scale(1.1);
  filter: brightness(1.1);
}

.add-comment {
  background-color: #ebdbd3;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.add-comment h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.comment-input {
  width: 90%;
  min-height: 80px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.comment-input:focus {
  outline: none;
  border-color: #555;
}

button {
  background-color: #3d454e;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.error-message {
  color: red;
  font-size: 0.9rem;
  margin-top: 5px;
}

.success-message {
  color: rgb(15, 80, 15);
  font-size: 0.9rem;
  margin-top: 5px;
}
